services:
  mqtt:
    image: eclipse-mosquitto:1.6.9
    container_name: mqtt_broker
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      #- ./mosquitto/log:/mosquitto/log